/* Общие стили */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* Шапка */
header {
  background-color: #fff;
  color: black;
  padding: 1em 0;
  text-align: center;
}

/* Ссылки в шапке */
nav a {
  margin: 0px;
  color: black;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  outline: none;
}

nav a:hover {
  font-style: italic;
}

/* Добавляем стили для активной ссылки */
nav a.active {
  font-weight: bold;
}

/* Главный контент */
main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  padding: 1em;
  width: 100%;
  flex: 1 0 auto;
}

/* Шрифт и размер текста для имени "Nadir Abdullaev" */
h1 {
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
  font-size: 4em;
  font-weight: 100;
  font-family: 'Helvetica Neue', sans-serif;
}

/* О себе */
.about-me p {
  line-height: 1.7;
  font-size: 12px;
}

/* Стили для иконок соцсетей */
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.social-icons a {
  margin: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.social-icons img {
  width: 30px;
  height: auto;
}

/* Стили для профильной фотографии */
.profile-picture img {
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  display: block;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Медиа-запросы для адаптации под мобильные и планшеты */
@media (max-width: 768px) {
  /* Уменьшим размер шрифта в шапке для маленьких экранов */
  nav a {
      font-size: 18px;
  }

  /* Уменьшим размер текста о себе для маленьких экранов */
  .about-me p {
      font-size: 1.2em;
  }

  /* Уменьшим размер профильной фотографии для маленьких экранов */
  .profile-picture img {
      max-width: 300px;
  }
}

/* Планшеты */
@media (min-width: 769px) and (max-width: 1024px) {
  nav a {
    font-size: 20px;
  }
  .about-me p {
    font-size: 1.5em;
  }
  .profile-picture img {
    max-width: 350px;
  }
}

/* Мобильные устройства */
@media (max-width: 768px) {
  nav a {
    font-size: 18px;
  }
  .about-me p {
    font-size: 1.2em;
  }
  .profile-picture img {
    max-width: 300px;
  }
}

